<section id="Work-Experience" class="py-5 px-2 bg-education-section">
    <div class="container d-flex flex-column my-5 py-2 gap-2 rounded mx-auto work-Exp">
        <h2 class="text-center">Education</h2>
        <div class="d-flex flex-column justify-content-between mx-1 mx-md-5 p-1">
            <div class="mt-2 mt-md-0">
                <div class="d-flex flex-column flex-md-row justify-content-between">
                    <div>
                        <h4>Bachelor of Science in Computer Science</h4>
                        <h5>Lyceum of the Philippines University Laguna</h5>
                    </div>
                    <p>2020 - 2024</p>
                </div>
                <ul>
                    <li>GWA: <strong>1.63</strong></li>
                    <li>Degree Awarded with <strong>Honors</strong></li>
                    <li>
                        <p>Capstone: <strong>“XperT: Managing Key Performance Indicators through descriptive data analysis using a low-code/no-code software solution”</strong></p>
                        <ul>
                            <li>Allows users to create and customize their own trackers according to their specific needs. This flexibility ensures that the software can adapt to various requirements and use cases.</li>
                            <li>Helps users gain valuable insights from their data with KPI management features.</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
