<header class="sticky-top d-flex flex-column flex-md-row justify-content-around align-items-center py-2" style="background-color: rgb(219, 77, 77);">
    <a href="#" class="text-decoration-none rounded-pill d-flex justify-content-center align-items-center">
        <div class="title d-flex justify-content-center align-items-center gap-1 px-2 rounded-pill">
            <h1 class="text-center m-0 px-2">
                Andrei Reyes
            </h1>
        </div>
    </a>
    <nav>
        <ul class="nav">
            <li class="nav-item d-none d-md-block custom-hover"><a href="#" class="nav-link nav-color">Home</a></li>
            <li class="nav-item custom-hover"><a href="#Gallery" class="nav-link nav-color">Gallery</a></li>
            <li class="nav-item custom-hover"><a href="#Projects" class="nav-link nav-color">Projects</a></li>
            <li class="nav-item custom-hover"><a href="#ContactMe" class="nav-link nav-color">Contact Me</a></li>
        </ul>
    </nav>
</header>
