<header class="sticky-top py-2" style="background-color: rgb(219, 77, 77);">
    <div class="d-flex justify-content-around align-items-center">
        <a href="#" class="text-decoration-none rounded-pill d-flex justify-content-center align-items-center">
            <div class="title d-flex justify-content-center align-items-center gap-1 px-2 rounded-pill">
                <h1 class="text-center m-0 px-2">
                    Andrei Reyes
                </h1>
            </div>
        </a>
        <i class="bi bi-list d-md-none fs-3 menu" style="cursor: pointer;" (click)="show = !show"></i>
        <div class="d-none d-md-block" nav></div>
    </div>
    <div *ngIf="show" class="d-flex justify-content-center d-md-none" nav></div>
</header>
