.footer{
    background-color: var(--footer-bg-color);
    color: var(--text-color);
}

.icon-color{
    color: var(--text-color);
}

.form-label{
    margin-top: 2px;
    margin-bottom: 2px;
}

.form-control{
    background: var(--bg-color);
    color: var(--text-color);
    transition: all 0.3s;
}

.send-button{
    border: 2px solid var(--text-color);
    color: var(--text-color);
    transition: all 0.3s;
}

.send-button:hover{
    opacity: .75;
}

.send-button:active{
    opacity: 1;
    border: 2px solid var(--bg-color);
    color: var(--bg-color);
}