<section id="Projects" class="projects text-center py-2">
    <h2>Projects</h2>
    <div class="container d-flex flex-column gap-2">
        <div class="project d-flex flex-column flex-md-row justify-content-around align-items-center mx-1 mx-md-5 p-1 rounded">
            <img src="assets/images/winforms-3.png" alt="Customizable Tracker Form Application" class="img-fluid rounded" style="width: 400px;">
            <div class="mt-2 mt-md-0">
                <h4>Customizable Tracker Form Application</h4>
                <p>Empowers users to create their own personal tracker form to encode data to the system so that the application can conduct a descriptive data analysis to provide insightful results.</p>
                <p><b>Skills:</b> VB.NET, MySQL</p>
            </div>
        </div>
        <div class="project d-flex flex-column flex-md-row justify-content-around align-items-center flex-md-row-reverse mx-1 mx-md-5 p-1 rounded">
            <img src="assets/images/WCX_CNX.png" alt="Concentrix WCX App" class="img-fluid rounded" style="width: 400px;">
            <div class="mt-2 mt-md-0">
                <h4>Workforce Management Application</h4>
                <p>Helps managers, team leaders, and agents to manage their schedules which streamlines the workflow.</p>
                <p><b>Skills:</b> Angular, ASP.NET, MySQL, MongoDb</p>
            </div>
        </div>
    </div>
</section>