<nav>
  <ul class="nav">
    <!-- <li class="nav-item d-none d-md-block custom-hover"><a href="#" class="nav-link nav-color">Home</a></li> -->
    <li class="nav-item custom-hover">
      <a href="#Gallery" class="nav-link nav-color">Gallery</a>
    </li>
    <li class="nav-item custom-hover">
      <a href="#Work-Experience" class="nav-link nav-color">Work Exp</a>
    </li>
    <li class="nav-item custom-hover">
      <a href="#Education" class="nav-link nav-color">Education</a>
    </li>
    <li class="nav-item custom-hover">
      <a href="#Projects" class="nav-link nav-color">Projects</a>
    </li>
    <li class="nav-item custom-hover">
      <a href="#ContactMe" class="nav-link nav-color">Contact Me</a>
    </li>
  </ul>
</nav>
