.nav-color{
    color: var(--bg-color);
}

.custom-hover {
    text-decoration: none; /* remove default underline */
    position: relative;
}

.custom-hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: var(--bg-color); /* underline color */
    transition: width 0.3s ease;
}

.custom-hover:hover::after {
    width: 100%; /* expands underline on hover */
}