<footer class="footer py-5">
    <section id="ContactMe" class="text-center w-100 py-1 animate-element">
        <h3>Contact Me</h3>
        <div class="container d-flex flex-column flex-md-row justify-content-center align-items-center gap-1 gap-md-5 p-1 container-lg">
            <div>
                <div class="d-flex justify-content-center align-items-center gap-1">
                    <a href="https://www.linkedin.com/in/reyes-andrei" target="_blank" class="p-2 rounded-circle" style="width: 64px; background-color: blue; ">
                        <i class="bi bi-linkedin" style="font-size:2rem; color:whitesmoke;"></i>
                    </a>
                    <a href="https://github.com/rchristianandrei" target="_blank" class="p-2 rounded-circle" style="width: 64px; background-color: black;" >
                        <i class="bi bi-github" style="font-size:2rem; color:whitesmoke;"></i>
                    </a>
                </div>
                <div class="d-flex flex-column flex-sm-row justify-content-center align-items-center gap-1">
                    <i class="bi bi-envelope" style="font-size:2rem;"></i>
                    <span>rchristianandrei&#64;gmail.com</span>
                </div>
            </div>
            <div class="text-center text-md-start w-75 w-md-100">
                <form (ngSubmit)="SendEmail()">
                    <div>
                        <label for="name" class="form-label">Full Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter your full name" [(ngModel)]="name" name="name" required>
                    </div>
                    <div>
                        <label for="email" class="form-label">Email Address</label>
                        <input type="email" class="form-control" id="email" placeholder="name@example.com" [(ngModel)]="email" name="email" required>
                    </div>
                    <div>
                        <label for="subject" class="form-label">Subject</label>
                        <input type="text" class="form-control" id="subject" placeholder="Message subject" [(ngModel)]="subject" name="subject" required>
                    </div>
                    <div>
                        <label for="message" class="form-label">Message</label>
                        <textarea class="form-control" id="message" rows="3" placeholder="Write your message here..." [(ngModel)]="message" name="message" required></textarea>
                    </div>
                    <div class="mt-3 d-grid">
                        <button type="button" class="btn send-button btn-lg" (click)="SendEmail()">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</footer>