<section id="Gallery" class="py-5 px-2 bg-gallery-section">
    <div class="gallery container my-5 py-2 mx-auto rounded animate-element">
        <h2 class="text-center">Gallery</h2>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 mb-3 d-flex justify-content-center">
                    <img src="assets/images/internship meeting.jpg" alt="Internship Meeting" class="img-fluid rounded">
                </div>
                <div class="col-12 col-md-4 mb-3 d-flex justify-content-center">
                    <img src="assets/images/Team Lunch.jpg" alt="Team Lunch" class="img-fluid rounded">
                </div>
                <div class="col-12 col-md-4 mb-3 d-flex justify-content-center">
                    <img src="assets/images/School Groupie.jpg" alt="School Groupie" class="img-fluid rounded">
                </div>
            </div>
        </div>
    </div>
</section>
