<section id="#" class="text-center py-5 introduction">
    <div class="animate-element">
        <img src="assets/images/profile.jpg" alt="Christian Andrei Reyes Profile Picture" class="profile-picture rounded-circle mx-auto d-block" style="width:150px; height:150px; object-fit:cover;">
        <h2>Hi I'm Andrei!</h2>
        <p class="mx-auto" style="max-width:min(600px, 90%);">A passionate Software Engineer who thrives on turning complex problems into simple, elegant solutions. With experience in designing, developing, and deploying scalable applications, I focus on writing clean, efficient code and building intuitive user experiences. I’m always eager to learn new technologies, collaborate with diverse teams, and create impactful software that makes a difference.</p>
    </div>
</section>
