<section id="Work-Experience" class="py-5 work-Exp px-2">
    <div class="container d-flex flex-column py-2 gap-2 rounded mx-auto work animate-element">
        <h2 class="text-center">Work Experience</h2>
        <div class="d-flex flex-column justify-content-between mx-1 mx-md-5 p-1">
            <div class="mt-2 mt-md-0">
                <div class="d-flex flex-column flex-md-row justify-content-between">
                    <div>
                        <h4>Software Developer 1 - Trainee</h4>
                        <h5>SSCGI</h5>
                    </div>
                    <p>Sept 2025 - Present</p>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column justify-content-between mx-1 mx-md-5 p-1">
            <div class="mt-2 mt-md-0">
                <div class="d-flex flex-column flex-md-row justify-content-between">
                    <div>
                        <h4>Helpdesk Technician 1</h4>
                        <h5>Stefanini</h5>
                    </div>
                    <p>May 2025 - July 2025</p>
                </div>
                <ul>
                    <li>Providing technical end-user support via phone, email, and web chat while ensuring efficient troubleshooting and issue resolution.</li>
                </ul>
            </div>
        </div>
        <div class="d-flex flex-column justify-content-between mx-1 mx-md-5 p-1">
            <div class="mt-2 mt-md-0">
                <div class="d-flex flex-column flex-md-row justify-content-between">
                    <div>
                        <h4>Software Engineer Intern</h4>
                        <h5>Concentrix</h5>
                    </div>
                    <p>Jan 2024 - Nov 2024</p>
                </div>
                <ul>
                    <li>Worked with design teams and Senior Software Engineers to build customized software products for consumers.</li>
                    <li>Created a software solution that empowers users to create their own tracker form applications. This reduced the costs and time for software development, testing, and deployment.</li>
                    <li>Tested multiple software solutions to ensure that functional features, and requirements works effectively, utilizing both manual and automated testing techniques.</li>
                    <li>Participated in knowledge-sharing and experience-building activities with the supervisor at a local school, contributing to educational development and professional growth.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
